h1,h2,h3{
	font-family: 'Dancing Script', cursive;
}

p,a,input,label,textarea,span,ul,li{
	font-family: 'Karla', sans-serif;
}

header{
	background-color: #AFEEEE;
}

header nav img{
	width: 130px;
}

header li{
	font-size: 23px;
	margin: 0 20px;
}

#intro h2{
	margin-top: 20px;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 80px;
}

#intro img{
	width: 500px;
}

#intro p{
	margin-top: 50px;
	font-size: 35px;
}

#form {
	margin-top: 90px;
}

#form h3{
	font-size: 60px;
}

#form button{
	font-size: 20px;
	background: #AAAAAA;
	color: #FFFFFF;
	padding: 9px 15px;
	border-radius: 20px;
}

footer{
	margin-top: 40px;
	background-color: #F0FFFF;
}

footer h5{
	font-size: 25px; 
	margin-bottom: 10px;
}

footer ul{
	list-style: none;
	padding: 0;
	float: left;
	margin-right: 20px;
}

footer h5{
	text-decoration:underline;
}

footer ul li{
	color: black;
}

footer a{
	color: black;
}